/* Resetting the styling */
* {
    /* display: block; */
    margin: 0;
    align-items: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(254, 247, 237);
    text-decoration: none;
}

/* Header Styles  */

.hero {
    margin: 1.1em;
    color: rgb(239, 131, 112);
}

.hero p {
    color: black;
    font-size: 10px;
}


/* the Calculator Section */
.section {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.calculatorDisplay {
    display: block;
    background-color: black;
    color: white;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    width: 200px;
    height: 30px;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: right;
    font-family: monospace;
    white-space: nowrap;
}

.calculatorkeys {
    width: 220px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0;
}

.calculatorkeys button {
    height: 45px;
    border: 1px solid gray;
    cursor: pointer;
    background-color: rgb(231, 227, 227);
}

.calculatorkeys button:hover {
    background-color: rgb(42, 39, 39);
    transition: ease-in 4s;
}

.item1 {
    grid-column: 1/3;
}

.item16 {
    grid-column: 1/4;
}

.item3,.item17,.item15,.item7,.item11 {
    background-color: rgb(221, 180, 180) !important;
}

.footer {
    margin-top: 1.2rem;
    font-size: 10px;
    color: rgb(239, 131, 112);
}

.footer p {
    color: rgb(239, 131, 112);
}

hr {
    /* align-self: center; */
    /* text-align: center; */
    /* width: 200px; */
    margin: 10px;
    background-color: black;
    height: .6px;
}

.footer a {
    background:rgb(239, 131, 112);
    color: white;
    padding: 6px;
    border-radius: 4px;
}

.footer a:hover {
    background:rgb(193, 173, 169);
    color: black;
    transition: ease 4s;
}