/* Resetting the styling */
* {
    /* display: block; */
    margin: 0;
    align-items: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(233, 227, 220);
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Header Styles  */

.hero {
    margin: 1.1em;
    color: rgb(239, 131, 112);
}

.hero h1 {
    font-size: 3rem;
    
}

.hero p {
    color: black;
    font-size: 20px;
}


/* the Calculator Section */
.section {
    margin-top: 1.5rem;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.calculatorDisplay {
    background-color: black;
    color: white;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    width: 300px;
    height: 50px;
    font-size: 25px;
    letter-spacing: .5px;
    text-align: right;
    font-family: monospace;
    white-space: nowrap;
    overflow-wrap: break-word;
    contain: content;
}

.calculatorkeys {
    width: 320px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0;
}

.calculatorkeys button {
    font-size: 20px;
    height: 55px;
    border: 1px solid gray;
    cursor: pointer;
    background-color: rgb(231, 227, 227);
}

.calculatorkeys button:hover {
    background-color: rgb(42, 39, 39);
    color: white;
    transition: ease-in 4s;
}

.item1 {
    grid-column: 1/3;
}

.item16 {
    grid-column: 1/4;
}

.item3,.item17,.item15,.item7,.item11 {
    background-color: rgb(221, 180, 180) !important;
}

.footer {
    margin-top: 3rem;
    color: rgb(239, 131, 112);
}

.footer p {
    color: rgb(239, 131, 112);
}

hr {
    display: inline-flex;
    width: 200px;
    margin: 10px;
    background-color: black;
    height: .6px;

}

.footer a {
    background:rgb(239, 131, 112);
    color: white;
    padding: 6px;
    border-radius: 4px;
}

.footer a:hover {
    background:rgb(193, 173, 169);
    color: black;
    transition: ease 4s;
}